modules = ["nodejs-24", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "artifacts/quicktools: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/quicktools"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/quicktools run dev"
cwd = "./artifacts/quicktools"
waitForPort = 19023
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "19023"
BASE_PATH = "/"

[[workflows.workflow]]
name = "gitpush"
mode = "sequential"
author = 55600349

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config user.email \"noobra24l8w@gmail.com\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m \"Initial QuickTools commit\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push"

[[workflows.workflow]]
name = "commit"
mode = "sequential"
author = 55600349

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m \"Newcommit\""

[[workflows.workflow]]
name = "ng"
mode = "sequential"
author = 55600349

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config --global user.email \"noobra24l8w@gmail.com\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config --global user.name \"Your Name\""

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[nix]
